*,
*::before,
*::after {
  box-sizing: border-box;
}

.container{
  border-radius: 10px;
  perspective: 500px;
  height: 270px;
  position: relative;
}

.container .card,
.container .cardBack{
  position: absolute;
  background: #d2ceac;
  width: 100%;
  height: 270px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid 3px #eeecde;
}

.container .front,
.container .back {
  transition: transform 1.2s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.container:hover .front {
  transform: rotateY(-180deg);
}

.container .back {
  transform: rotateY(180deg);
}

.container:hover .back {
  transform: rotateY(0);
}

.container .card:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .card:after{
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 5%;
  z-index: 1;
  width: 100%;
  height: 135px;
}

.container .card .imgBx img{
  position: absolute;
  width: 75px;
}

.container .card .contentBx,
.container .cardBack .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card .contentBx{
  height: 135px;
  padding-top: 20px;
}

.container .card:hover .contentBx{
  height: 150px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2f2f25;
  margin: 0;
}

.container .card .contentBx .tvl{
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
  color: #0a0a00;
  margin: 0;
}

.container .cardBack .contentBx{
  height: 100%;
}

.container .cardBack .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2f2f25;
}

.container .cardBack .contentBx .size{
  font-size: 18px;
  display: inline-block;
  width: 75%;
  text-align: left;
}